/* Font Raleway */
@import url("https://fonts.googleapis.com/css?family=Raleway");

html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway";
}

/* Navbar */
.navbar {
  background: #f97300;
  top: 0;
  transition: top 0.5s; /* Transition for hide onscroll */
}
.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  background: #f4f4f4;
  color: #f97300;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  background: #fff !important;
}

/*Header */
.header {
  background-image: url("headerback.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
}

/* Header text */
.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}
.description h1 {
  color: #f97300;
}
.description p {
  color: #666;
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
}
.description button {
  border: 1px solid #f97300;
  background: #f97300;
  color: #fff;
}

/*Main part About */
.about {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}
.about h1 {
  color: #f97300;
  margin: 2em;
}
.about img {
  height: 100%;
  width: 100%;
  border-radius: 30%;
}
.about span {
  display: block;
  color: #888;
  position: absolute;
}
.about .desc {
  padding: 2em;
  border-left: 4px solid #10828c;
}
.about .desc h3 {
  color: #10828c;
}
.about .desc p {
  line-height: 2;
  color: #888;
}

/* Button Scroll Top */
.about button {
  border: 1px solid #f97300;
  background-color: #f97300;
  color: #fff;
  display: none; /* Hidden by default none*/
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Portfolio */

.stack {
  margin: 4em 0;
  position: relative;
}
.stack h1 {
  color: #f97300;
}

.stack h3 {
  color: #f97300;
  margin-top: 1em;
}

.progress {
  margin-top: 1em;
}

/* portfolio */
.portfolio {
  margin: 4em 0;
  position: relative;
}
.portfolio h1 {
  color: #f97300;
  margin: 2em;
}
.portfolio .card {
  box-shadow: 0 0 20px rgb(143, 142, 142);
}
.portfolio .card img {
  width: 100%;
  height: 12em;
}
.portfolio .card-title {
  color: #f97300;
}
.portfolio .card-body {
  padding: 1em;
}

/*Contact form */
.contact-form {
  margin: 6em 0;
  position: relative;
}
.contact-form h1 {
  /* padding: 2em 1px; */
  text-align: center;
  color: #f97300;
}

.contact-form a {
  width: 64px;
  padding: 0.5em;
}
.contact-form .right {
  max-width: 600px;
}
.contact-form .right .btn-secondary {
  background: #f97300;
  color: #fff;
  border: 0;
}
.contact-form .right .form-control::placeholder {
  color: #888;
  font-size: 16px;
}
